						</div><!-- /. modal-body -->
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary">Annuller</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Indsend</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
