<!-- Button trigger modal -->
<p><button data-toggle="modal" data-target="#myModal" class="btn btn-primary">Klik her for at få vist lightboxen</button></p>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Lightbox overskrift</h4>
						</div>
						<div class="modal-body">
								<p>
										Her kan vi skrive en masse tekst<br />
										.. i flere linjer osv, samt nogle knapper nedenfor
								</p>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Indsend</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
