<!-- Button trigger modal -->
<p><button data-toggle="modal" data-target="#{{modal-name}}" class="btn btn-secondary button-magnify"><i class="glyphicon glyphicon-fullscreen"></i> Klik her for at få vist lightboxen</button></p>

<!-- Modal -->
<div class="modal responsive" id="{{modal-name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Lightbox overskrift</h4>
						</div>
						<div class="modal-body">
