<ul class="nav style-2 nav-collapse collapse">
	<li class="notice">
		<a href="#">1. Trinnavn<span class="info">Udfyldt</span></a>
	</li>
	<li class="notice">
		<a href="#">2. Trinnavn<span class="error">Udfyldt</span></a>
	</li>
	<li class="notice">
		<a href="#">3. Trinnavn<span class="warning">Udfyldt</span></a>
	</li>
	<li class="active">
		<a href="#">4. Trinnavn</a>
	</li>
	<li>
		<a href="#">5. Trinnavn</a>
	</li>
	<li>
		<a href="#">6. Opsummering og godkendelse</a>
	</li>
</ul>
