<ul class="nav style-2 nav-collapse collapse step-indicator">
	<li class="notice">
		<a href="#">1. Trinnavn<span class="info">Udfyldt</span></a>
	</li>
	<li class="notice">
		<a href="#">2. Trinnavn<span class="error">Udfyldt</span></a>
	</li>
	<li class="sublevel-active">
		<a href="#">3. Trinnavn</a>
		<ul class="sublevels">
			<li class="active">
				<a href="#">1. Subtrin navn</a>
			</li>
			<li>
				<a href="#">2. Subtrin navn</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">4. Trinnavn</a>
	</li>
	<li>
		<a href="#">5. Opsummering og godkendelse</a>
	</li>
</ul>
