<h2>Knapper</h2>

<h3>Primære knapper</h3>
<p><a href="#" class="btn btn-primary">Primær knap</a></p>
<p><button class="btn btn-primary" disabled>Primær knap (Deaktiveret)</button></p>
<p><a href="#" class="btn btn-primary button-double-arrow">Indsend alt</a></p>
<p><button type="submit" class="btn btn-primary">Knap</button></p>
<p><a href="#0" class="btn btn-primary button-prev">Forrige</a></p>
<p><a class="btn btn-primary button-next" href="#0">Næste</a></p>
<p><button type="submit" class="btn btn-primary search">Søg</button></p>

<h3>Sekundær knap</h3>
<p><a href="#" class="btn btn-secondary">Sekundær knap</a></p>
<p><button class="btn btn-secondary" disabled>Sekundær knap (Deaktiveret)</button></p>
<p><a href="#" class="btn btn-secondary button-magnify"><i class="glyphicon glyphicon-fullscreen"></i> Sekundær knap med ikon</a></p>

<h3>Små knapper til værktøjslinje</h3>
<p><a href="#" class="btn btn-default btn-sm">Lille knap</a></p>
<p><button class="btn btn-default btn-sm" disabled>Lille knap (Deaktiveret)</button></p>
