<a href="#contentstart" class="hide">Gå direkte til indhold</a>
<!-- Header start -->
<header class="navbar">
	{{> header/header-top}}
	{{> header/header-bottom-kompleks-udvidet}}
</header>
<!-- Header end -->
