<h2 class="section">Ikoner</h2>
<p>Følgende grafiske ikoner er tilgængelige i svg format</p>
<p>
		Succes<br /><br />
		<img src="../graphics/icon__tick.svg" width="27" height="27" alt="Succes ikon" /><br /><br />
		Advarsel<br /><br />
		<img src="../graphics/icon__exclamation.svg" width="27" height="27" alt="Advarsel ikon" /><br /><br />
		Info<br /><br />
		<img src="../graphics/icon__info.svg" width="27" height="27" alt="Info ikon" /><br /><br />
		Fejl<br /><br />
		<img src="../graphics/icon__error.svg" width="27" height="27" alt="Fejl ikon" /><br /><br />
		Hjælp<br /><br />
		<img src="../graphics/icon__help.svg" width="23" height="23" alt="Hjælp ikon" /><br /><br />
</p>
