<!-- Notification start -->
<h2 class="section">Beskeder til brugeren</h2>

{{> notifications/notification-info}}
{{> notifications/notification-warning}}
{{> notifications/notification-error}}
{{> notifications/notification-succes}}


<!-- Notification end -->
