<!-- Typografi -->
<h2 class="section">Typografi</h2>
<h1>H1 titel</h1>
<h2>H2 titel</h2>
<h2 class="section">H2 titel med streg under indikerer en sektion</h2>
<h3>H3 titel</h3>
<h4>H4 titel</h4>

<p class="lead">Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst. Manchettekst.</p>

<p>Brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst brødtekst.</p>
<p>Brug <strong>strong</strong> til fed tekst.</p>
<p><em>Kursiv</em> tekst pakkes ind i em elementer.</p>
<p><a href="#">Et link</a></p>
<p><a href="#" class="external-link">Et eksternt link</a></p>

<ul>
		<li>Lorem ipsum dolor sit amet consectateur nonummy lorenzino. Interdum volgus videt, est ubi peccat.</li>
		<li>Si veteres ita miratur laudatque poetas</li>
		<li>Ut nihil anteferat, nihil illis comparet, errat.</li>
		<li>Si quaedam nimis antique</li>
</ul>

<ol>
		<li>Lorem ipsum dolor sit amet consectateur nonummy lorenzino. Interdum volgus videt, est ubi peccat.</li>
		<li>Si veteres ita miratur laudatque poetas</li>
		<li>Ut nihil anteferat, nihil illis comparet, errat.</li>
		<li>Si quaedam nimis antique</li>
</ol>
<!-- Typografi END -->
