<div class="alert alert-danger">
		<div class="header">Fejl</div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate eros eget massa egestas placerat. Maecenas eget quam ornare felis iaculis sollicitudin
</div>
