<div class="alert alert-info">
		<div class="header">Infoboks</div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate eros eget massa egestas placerat. Maecenas eget quam ornare felis iaculis sollicitudin
</div>
