<div class="alert alert-warning">
		<div class="header">Advarsel</div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate eros eget massa egestas placerat. Maecenas eget quam ornare felis iaculis sollicitudin
</div>
