<div class="alert alert-success">
		<div class="header">Handling udført</div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate eros eget massa egestas placerat. Maecenas eget quam ornare felis iaculis sollicitudin
</div>
