<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Titel 1</th>
				<th>Titel 2</th>
				<th>Titel 3</th>
				<th>Titel 4</th>
				<th>Titel 5</th>
				<th><span class="sr-only">Titel 6</span></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><a href="#">Titel 1</a> <span>Lorem ipsum</span></td>
				<td>Lorem ipsum</td>
				<td>15-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td><a href="#">Tilmeld</a></td>
			</tr>
			<tr>
				<td><a href="#">Titel 2</a> <span>Lorem ipsum</span></td>
				<td>Lorem ipsum</td>
				<td>15-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td><a href="#">Tilmeld</a></td>
			</tr>
			<tr>
				<td><a href="#">Titel 3</a> <span>Lorem ipsum</span></td>
				<td>Lorem ipsum</td>
				<td>15-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td><a href="#">Tilmeld</a></td>
			</tr>
			<tr>
				<td><a href="#">Titel 4</a> <span>Lorem ipsum</span></td>
				<td>Lorem ipsum</td>
				<td>15-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td><a href="#">Tilmeld</a></td>
			</tr>
			<tr>
				<td><a href="#">Titel 5</a> <span>Lorem ipsum</span></td>
				<td>Lorem ipsum</td>
				<td>15-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td><a href="#">Tilmeld</a></td>
			</tr>
			<tr>
				<td><a href="#">Titel 6</a> <span>Lorem ipsum</span></td>
				<td>Lorem ipsum</td>
				<td>15-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td><a href="#">Tilmeld</a></td>
			</tr>

		</tbody>
	</table>
</div>
