<div class="table-responsive" {{#if tablewidth}}style="width:{{tablewidth}};"{{/if}} >
		<table summary="Indsæt sumary her" class="table input-fields">
				<caption>Table header (caption)</caption>
				<colgroup>
						<col width="1%" />
						<col width="15%" />
						<col width="30%" />
						<col width="10%" />
						<col width="8%" />
						<col width="18%" />
						<col width="14%" />
				</colgroup>
				<thead>
						<tr>
								<th><span class="sr-only">Vælg</span></th>
								<th>Fakturalinje</th>
								<th>Beskrivelse linie <span class="required">*</span> <a class="help help-no-text" role="button" data-toggle="popover" data-placement="bottom" data-content='Hjælpetekst'><span class="sr-only">Hjælp</span></a></th>
								<th>Varenr.</th>
								<th>Antal <span class="required">*</span></th>
								<th>Enhedspris<span class="required">*</span></th>
								<th class="align-right">Nettopris</th>
						</tr>
				</thead>
				<tbody>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
						<tr>
								<td>
										<input type="checkbox" title="Checkbox" />
								</td>
								<td>
										<select title="Faktalinje">
												<option value="0">Standard</option>
										</select>
								</td>
								<td>
										<input type="text" title="Beskrivelse" />
								</td>
								<td>
										<input type="text" title="Varenr." />
								</td>
								<td>
										<input type="text" value="1,00" class="align-right" title="Antal" />
								</td>
								<td class="trailing-text">
										<input type="text" value="0,00" class="align-right" title="Enhedspris" />
										DKK
								</td>
								<td class="align-right">0,00 DKK</td>
						</tr>
				</tbody>
		</table>
</div>
