<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Titel 1</th>
				<th>Titel 2</th>
				<th>Titel 3</th>
				<th>Titel 4</th>
				<th>Titel 5</th>
				<th><span class="sr-only table-status">Titel 6</span></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Lorem ipsum</td>
				<td>Lorem ipsum</td>
				<td>05-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status">Bemærk <i class="icon icon--warning"></i></td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
				<td>Lorem ipsum</td>
				<td>05-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td class="table-status"></td>
			</tr>
			<tr>
				<td class="no-bottom-border">Lorem ipsum</td>
				<td class="no-bottom-border">Lorem ipsum</td>
				<td class="no-bottom-border">05-11-2017</td>
				<td class="no-bottom-border">13-11-2017</td>
				<td class="no-bottom-border">Lorem ipsum</td>
				<td class="no-bottom-border align-right table-status">Ændret <i class="icon icon--tick"></i></td>
			</tr>
			<tr>
				<!-- Use <s> to create a strikethrough text -->
				<td><s>Lorem ipsum</s></td>
				<td><s>Lorem ipsum</s></td>
				<td><s>05-11-2017</s></td>
				<td><s>13-11-2017</s></td>
				<td><s>Lorem ipsum</s></td>
				<td class="table-status"></td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
				<td>Lorem ipsum</td>
				<td>05-11-2017</td>
				<td>13-11-2017</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status">Fejl <i class="icon icon--error"></i></td>
			</tr>
		</tbody>
	</table>
</div>
