<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<td>Label #1</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status"></td>
			</tr>
			<tr>
				<td class="table-sublabel">Sublabel #1</td>
				<td>Lorem ipsum lorem</td>
				<td class="align-right table-status"></td>
			</tr>
			<tr>
				<td class="table-sublabel">Sublabet #2</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status"></td>
			</tr>
			<tr>
				<td>Label #2 lorem ipsum lorem ipsum lorem ipsum lorem ipsum loprem ipsum</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status"></td>
			</tr>
			<tr>
				<td>Label #3</td>
				<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</td>
				<td class="align-right table-status">Mangler oplysninger <i class="icon icon--warning"></i></td>
			</tr>
			<tr>
				<td>Label #4</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status">Delvis udfyldt <i class="icon icon--warning-gray"></i></td>
			</tr>
			<tr>
				<td>Label #5</td>
				<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</td>
				<td class="align-right table-status"></td>
			</tr>
			<tr>
				<td>Label #6lorem ipsum lorem ipsum lorem ipsum lorem ipsum loprem ipsum</td>
				<td>Lorem ipsum</td>
				<td class="align-right table-status"></td>
			</tr>
		</tbody>
	</table>
</div>
