<button type="button" class="btn btn-default btn-sm">Gem og luk kladde</button>
<button type="button" class="btn btn-default btn-sm">Slet kladde</button>
<button type="button" class="btn btn-default btn-sm">Print kladde</button>
<button type="button" class="btn btn-default btn-sm">Gør noget mere med kladden</button>
<button type="button" class="btn btn-default btn-sm">Handling</button>
<button type="button" class="btn btn-default btn-sm">Handling</button>
