<div class="topbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 info">
				<p>Nyt iværksætterselskab</p>
			</div>
			<div class="col-xs-4 align-right hidden-xs">
				<div class="inner-details">
					<a href="#" class="solution-author-link">Erhvervsstyrelsen <span>&#8250;</span></a>
					<div class="contact">
						Support: <span class="solution-author-phone">72 20 00 31</span>
						<span class="divider">|</span>
						<a href="#" class="solution-author-email">E-mail <span>&#8250;</span></a>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 hidden-xs">
				<!-- Top menu -->
				<nav class="" role="navigation">
				<!--<div class="container-fluid">-->
				<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div>
						<ul class="nav navbar-nav nav-tabs navbar-left">
							<li>
								<a href="eksempel03-1.html" class="change">Ny virksomhed</a>
							</li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mine registreringer</a>
								<ul class="dropdown-menu" role="menu">
									<li class="active"><a href="eksempel02.html">Mine virksomheder</a></li>
									<li><a href="#">Mine kladder</a></li>
									<li><a href="#">Menu</a></li>
								</ul>
							</li>
						</ul>


						<!-- Language switcher -->
						<ul class="nav navbar-nav navbar-right language-switcher">
							<li id="fat-menu" class="dropdown dropdown-simple">
								<a href="#" class="dropdown-toggle" id="languages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-globe"></i> Dansk <span class="caret"></span> </a>
								<ul class="dropdown-menu" aria-labelledby="languages">
									<li><a href="#">Dansk</a></li>
									<li><a href="#">English</a></li>
									<li><a href="#">Polski</a></li>
								</ul>
							</li>
						</ul>
						<!-- Language switcher END -->

					</div><!-- /.navbar-collapse -->
				</nav>
				<!-- /Top menu -->
			</div>
		</div>
	</div>
</div>
