<div class="topbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 info">
				<p>Nyt iværksætterselskab</p>
			</div>
			<div class="col-xs-12 col-sm-4 align-right hidden-xs">
				<div class="inner-details">
					<a href="#" class="solution-author-link">Erhvervsstyrelsen <span>&#8250;</span></a>
					<div class="contact">
						Support: <span class="solution-author-phone">72 20 00 31</span>
						<span class="divider">|</span>
						<a href="#" class="solution-author-email">E-mail <span>&#8250;</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
