<div class="topbar">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-8 info">
				<p>Titel på løsning titel titel titel titel titel titel</p>
			</div>
			<div class="col-xs-4 align-right hidden-xs">
				<div class="inner-details">
					<a href="#" class="solution-author-link">Erhvervsstyrelsen <span>&#8250;</span></a>
					<div class="contact">
						Support: <span class="solution-author-phone">72 20 00 31</span>
						<span class="divider">|</span>
						<a href="#" class="solution-author-email">E-mail <span>&#8250;</span></a>
					</div>
				</div>
			</div>
		</div>


		<!-- Mobile menu, Open step guide, start -->
    <div class="row">
      <div class="col-xs-12">
        <div id="dl-menu" class="dl-menuwrapper visible-xs hidden-xs">
          <button class="dl-trigger">Open Menu</button>
          <ul class="dl-menu">
            <li>
              <a href="eksempel03-1.html">Ny virksomhed</a>
          	</li>
            <li>
              <a href="eksempel02.html">Mine registreringer</a>
            	<ul>
                <li><a href="eksempel02.html">Mine kladder</a></li>
                <li><a href="#">Mine aktive virksomheder</a></li>
                <li><a href="#">Mine passive virksomheder</a></li>
              </ul>
            </li>
					</ul>
        </div>
        <!-- /dl-menuwrapper -->
      </div>
    </div>
		<!-- Mobile menu, Open step guide, end -->

		<div class="row">
			<div class="col-xs-12 hidden-xs">
				<!-- Top menu -->
				<nav class="" role="navigation">
				<!--<div class="container-fluid">-->
				<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div>
						<ul class="nav navbar-nav nav-tabs navbar-left">
							<li class="active">
								<a href="#" class="change">Menu 1</a>
							</li>
							<li>
								<a href="#" class="change">Menu 2</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu 3</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Undermenupunkt 1</a></li>
									<li><a href="#">Undermenupunkt 2</a></li>
									<li><a href="#">Undermenupunkt 3</a></li>
								</ul>
							</li>
						</ul>

						<!-- Language switcher -->
						<ul class="nav navbar-nav navbar-right language-switcher">
							<li id="fat-menu" class="dropdown dropdown-simple">
								<a href="#" class="dropdown-toggle" id="languages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-globe"></i> Dansk <span class="caret"></span> </a>
								<ul class="dropdown-menu" aria-labelledby="languages">
									<li><a href="#">Dansk</a></li>
									<li><a href="#">English</a></li>
									<li><a href="#">Polski</a></li>
								</ul>
							</li>
						</ul>
						<!-- Language switcher END -->

					</div><!-- /.navbar-collapse -->
				</nav>
				<!-- /Top menu -->
			</div>
		</div>



	</div>
</div>







<!-- Nav for various ulities - Desktop -->
<nav class="navbar utility-top hidden-xs">
  <div class="container">
		<div class="utility-top-inner">

			<!-- Subtitel på løsning -->
			<div class="navbar-header utility-top-title">
	      <h2>Personnavn, virksomhedsnavn, kladdenummer, ansøgningsnavn etc.</h2>
	    </div>
			<!-- Subtitel END -->

			<!-- Switcher -->
			<ul class="nav navbar-nav utility-top-switch">
				<li id="fat-menu" class="dropdown dropdown-simple">
					<a href="#" class="dropdown-toggle" id="switch" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Skift <span class="caret"></span> </a>
					<ul class="dropdown-menu" aria-labelledby="switch">
						<li><a href="#">Virksomhed 1</a></li>
						<li><a href="#">Virksomhed 2</a></li>
						<li><a href="#">Virksomhed 3</a></li>
					</ul>
				</li>
			</ul>
			<!-- Switcher END -->

			<!-- Utility buttons -->
      <div class="navbar-left utility-top-buttons">
				{{> header/header-bottom-kompleks-udvidet-buttons}}
      </div>
			<!-- Utility buttons END -->

  	</div>
	</div>
</nav>
<!-- Nav utility END -->
