<div class="top hidden-xs">
		<div class="container">
				<div class="row">
						<div class="col-sm-6 col-xs-12">
								<a href="">
										<img src="../graphics/logo-virk.svg" height="57" width="240" alt="Virk / Indberetning - logo" class="logo" />
								</a>
						</div>
						<div class="col-xs-6 align-right nav-tools hidden-xs">
								<a href="">Log ud &#8250;</a>
								<div class="inner-details">
										<span class="login-name">Christian Emil Vestergaard Christiansen,<br/>Københavns Urmager Værksted v/Martin Elsig</span>
								</div>
						</div>
				</div>
		</div>
</div>
