<div id="dl-menu-1" class="nav-side-menu visible-xs">
	<button class="dl-trigger dl-active toggle-btn collapsed" data-toggle="collapse" data-target="#menu-content">Open Menu</button>
  <div id="menu-content" class="menu-list collapse">
  	<ul class="menu-content">
      <li class="active"><a href="eksempel03-1.html">Ny virksomhed</a></li>
      <li data-toggle="collapse" data-target="#submenu" class="collapsed"><a href="#">Mine registreringer<span class="arrow"></span></a>
				<ul class="sub-menu collapse" id="submenu">
					<li><a href="eksempel02.html">Mine kladder</a></li>
					<li><a href="#">Mine aktive virksomheder</a></li>
					<li><a href="#">Mine passive virksomheder</a></li>
				</ul>
			</li>
		</ul>
		<ul class="menu-footer">
			<li data-toggle="collapse" data-target="#languages-m" class="collapsed"><a href="#"><i class="glyphicon glyphicon-globe"></i> Dansk <span class="arrow"></span></a>
				<ul class="sub-menu collapse" id="languages-m">
					<li><a href="#">Dansk</a></li>
					<li><a href="#">English</a></li>
					<li><a href="#">Polski</a></li>
				</ul>
			</li>
		</ul>
		<div class="mobile-menu-user">
			<span class="mobile-menu-user-name">Christian Emil Vestergaard Christiansen</span>
			<a href="" class="mobile-menu-user-logout">Log ud</a>
		</div>
  </div>
</div>
