<div class="panel-group" id="accordion-statuses">

	<!-- Accordion panel with status (Warning) -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-statuses" href="#rubrikOne">
					Rubriktitel #1 <span class="accordion-status">Mangler oplysninger <i class="icon icon--warning icon--big"></i></span>
				</a>
			</h2>
		</div>
		<div id="rubrikOne" class="panel-collapse collapse">
			<div class="panel-body">
				{{> accordions/accordion-statuses-content}}
			</div>
		</div>
	</div>

	<!-- Accordion panel with status (Error) -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-statuses" href="#rubrikTwo">
					Rubriktitel #2 <span class="accordion-status">Indeholder fejl <i class="icon icon--error icon--big"></i></span>
				</a>
			</h2>
		</div>
		<div id="rubrikTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus tortor sit amet est convallis sed sodales nisi pulvinar. Duis elit turpis, tempus posuere sodales at, tristique non magna. Quisque bibendum mauris vel mi aliquam sagittis. Suspendisse id eros sed nibh dignissim vulputate. Vestibulum varius posuere libero quis tincidunt. Aliquam mollis tortor id justo tincidunt et cursus nisl sagittis. Donec id neque dui, non congue justo. Nam sit amet nibh non massa auctor dictum. Duis laoreet gravida fermentum. Nam at elit lacus, et mollis mi. Suspendisse sed lacus mollis erat vehicula egestas et vel ipsum.</p>
			</div>
		</div>
	</div>

	<!-- Accordion panel with status (Green tick) -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-statuses" href="#rubrikThree">
					Rubriktitel #3 <span class="accordion-status">Ændret <i class="icon icon--tick icon--big"></i></span>
				</a>
			</h2>
		</div>
		<div id="rubrikThree" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus tortor sit amet est convallis sed sodales nisi pulvinar. Duis elit turpis, tempus posuere sodales at, tristique non magna. Quisque bibendum mauris vel mi aliquam sagittis. Suspendisse id eros sed nibh dignissim vulputate. Vestibulum varius posuere libero quis tincidunt. Aliquam mollis tortor id justo tincidunt et cursus nisl sagittis. Donec id neque dui, non congue justo. Nam sit amet nibh non massa auctor dictum. Duis laoreet gravida fermentum. Nam at elit lacus, et mollis mi. Suspendisse sed lacus mollis erat vehicula egestas et vel ipsum.</p>
			</div>
		</div>
	</div>

	<!-- Accordion panel with status (Warning - gray) -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-statuses" href="#rubrikFour">
					Rubriktitel #4 <span class="accordion-status">Delvist udfyldt <i class="icon icon--info icon--big"></i></span>
				</a>
			</h2>
		</div>
		<div id="rubrikFour" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus tortor sit amet est convallis sed sodales nisi pulvinar. Duis elit turpis, tempus posuere sodales at, tristique non magna. Quisque bibendum mauris vel mi aliquam sagittis. Suspendisse id eros sed nibh dignissim vulputate. Vestibulum varius posuere libero quis tincidunt. Aliquam mollis tortor id justo tincidunt et cursus nisl sagittis. Donec id neque dui, non congue justo. Nam sit amet nibh non massa auctor dictum. Duis laoreet gravida fermentum. Nam at elit lacus, et mollis mi. Suspendisse sed lacus mollis erat vehicula egestas et vel ipsum.</p>
			</div>
		</div>
	</div>

	<!-- Accordion panel with NO status -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-statuses" href="#rubrikFive">
					Rubriktitel #5
				</a>
			</h2>
		</div>
		<div id="rubrikFive" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus tortor sit amet est convallis sed sodales nisi pulvinar. Duis elit turpis, tempus posuere sodales at, tristique non magna. Quisque bibendum mauris vel mi aliquam sagittis. Suspendisse id eros sed nibh dignissim vulputate. Vestibulum varius posuere libero quis tincidunt. Aliquam mollis tortor id justo tincidunt et cursus nisl sagittis. Donec id neque dui, non congue justo. Nam sit amet nibh non massa auctor dictum. Duis laoreet gravida fermentum. Nam at elit lacus, et mollis mi. Suspendisse sed lacus mollis erat vehicula egestas et vel ipsum.</p>
			</div>
		</div>
	</div>
</div>
