<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus tortor sit amet est convallis sed sodales nisi pulvinar. Duis elit turpis, tempus posuere sodales at, tristique non magna. Quisque bibendum mauris vel mi aliquam sagittis. Suspendisse id eros sed nibh dignissim vulputate. Vestibulum varius posuere libero quis tincidunt. Aliquam mollis tortor id justo tincidunt et cursus nisl sagittis. Donec id neque dui, non congue justo. Nam sit amet nibh non massa auctor dictum. Duis laoreet gravida fermentum. Nam at elit lacus, et mollis mi. Suspendisse sed lacus mollis erat vehicula egestas et vel ipsum.</p>
<div class="edit-bar">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3>Underrubriktitel #1</h3>
		</div>
		<div class="col-xs-12 col-sm-6 align-right">
			<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#table-edit-1">Rediger</button>

		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal" id="table-edit-1" tabindex="-1" role="dialog" aria-labelledby="tableEdit1" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h2 class="modal-title">Underrubriktitel #1</h2>
						</div>
						<div class="modal-body">
							<fieldset>
								<div class="form-group">
										<label for="label1">Label #1</label>
										<input type="text" id="label1" class="form-control" />
								</div>

								<div class="form-group">
										<label for="label2">Label #2</label>
										<input type="text" id="label2" class="form-control" />
								</div>

								<div class="form-group">
										<label for="label3">Label #3</label>
										<input type="text" id="label3" class="form-control" />
								</div>

								<div class="form-group">
										<label for="label4">Label #4</label>
										<input type="text" id="label4" class="form-control" />
								</div>

								<div class="form-group">
										<label for="Textarea1">Label #5</label>
										<textarea id="Textarea1" cols="10" rows="10" class="form-control"></textarea>
								</div>
							</fieldset>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Gem ændringer</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{{> tables/table-with-status}}
<div class="edit-bar">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3>Underrubriktitel #2</h3>
		</div>
		<div class="col-xs-12 col-sm-6 align-right">
			<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#table-edit-2">Rediger</button>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal" id="table-edit-2" tabindex="-1" role="dialog" aria-labelledby="tableEdit2" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h2 class="modal-title">Underrubriktitel #2</h2>
						</div>
						<div class="modal-body">
							<fieldset>
								<div class="form-group">
										<label for="label1">Label #6</label>
										<input type="text" id="label6" class="form-control" />
								</div>

								<div class="form-group">
										<label for="label2">Label #7</label>
										<input type="text" id="label7" class="form-control" />
								</div>

								<div class="form-group">
										<label for="label3">Label #8</label>
										<input type="text" id="label8" class="form-control" />
								</div>

								<div class="form-group">
										<label for="label4">Label #9</label>
										<input type="text" id="label9" class="form-control" />
								</div>

								<div class="form-group">
										<label for="Textarea2">Label #10</label>
										<textarea id="Textarea2" cols="10" rows="10" class="form-control"></textarea>
								</div>
							</fieldset>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Gem ændringer</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{{> tables/table-with-status-and-indent}}
