<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs hidden-xs" role="tablist">
    <li role="presentation" class="active"><a href="#fane1" aria-controls="fane1" role="tab" data-toggle="tab">Fane 1</a></li>
    <li role="presentation"><a href="#fane2" aria-controls="fane2" role="tab" data-toggle="tab">Fane 2</a></li>
    <li role="presentation"><a href="#fane3" aria-controls="fane3" role="tab" data-toggle="tab">Fane 3</a></li>
  </ul>

	<label class="sr-only" for="tab-content">Vælg indhold</label>
  <select name="tab-content" class="nav nav-tabs-select visible-xs" role="tablist">
    <option role="presentation" value="#fane1" aria-controls="fane1" role="tab" data-toggle="tab" selected>Fane 1</option>
    <option role="presentation" value="#fane2" aria-controls="fane2" role="tab" data-toggle="tab">Fane 2</option>
    <option role="presentation" value="#fane3" aria-controls="fane3" role="tab" data-toggle="tab">Fane 3</option>
  </select>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="fane1">
      <p>Her er indhold til fane 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="fane2">
      <p>Her er indhold til fane 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="fane3">
      <p>Her er indhold til fane 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      <p>Her er indhold til fane 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
    </div>
  </div>
</div>
