{{> doc-head}}

{{> header-kompleks-udvidet}}






<!-- Wrapper start -->
<div class="container">

	<!-- Mobile menu, Open step guide, start -->
	<div class="row">
		<div class="col-xs-12 constant-height">

			{{> header/mobile-menu-udvidet}}

		</div>
	</div>



	<!-- Main content wrapper start -->
	<div class="content row">
		<!-- Main content start -->
		<div class="col-xs-12 main-content">
			<!-- Hidden link for accesibility -->
			<a id="contentstart" class="hide">Indhold start</a>
			<!-- Page content start -->

			<h1 class="sr-only">Overskrift</h1>

			<div class="alert alert-info">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="header">Du har foretaget ændringer i dine oplysninger</div>
						<p>Når du er færdig med at rette i dine oplysninger, skal du indsende ændringerne til myndigheden.</p>
					</div>
					<div class="col-xs-12 col-sm-4 align-right">
						<button class="btn btn-primary button-double-arrow">Indsend alt</button>
					</div>
				</div>
			</div>

			{{> accordions/accordion-statuses}}


			<div class="clearfix"></div>
		</div>
		<!-- Page content end -->

	</div>
	<!-- Main content end -->
	<div class="clear"></div>
	<!-- Main content wrapper (three-col) end -->
</div>

{{> footer}}
{{> footers/footer-myndigheder}}

{{> doc-footer}}
