{{> doc-head}} {{> header-simple-old}}

<!-- Wrapper start -->
<div class="container">

	<!-- Mobile menu, Open step guide, start -->
	<div class="row">
		<div class="col-xs-12 constant-height">
			{{> header/mobile-menu-old-1}}
		</div>
	</div>


	<!-- Main content wrapper (three-col) start -->
	<div class="content row">
		<div class="col-xs-12 main-content hidden-xs">
			<!-- Top menu -->
			<nav class="" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
					</div>
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- /Top menu -->

		</div>
		<!-- Main content start -->
		<div class="col-sm-9 main-content">
			<!-- Hidden link for accesibility -->
			<a id="contentstart" class="hide">Indhold start</a>
			<!-- Page content start -->
			<h1>Mine kladder</h1>
			<p>Nedenfor vises dine gemte kladder. Vælg en virksomhed på listen for at afslutte virksomhedsoprettelsen.</p>

			<form>
				<fieldset class="search">
					<div class="form-group">
						<input type="text" title="Søg efter virksomhedsnavn, CVR og type" class="form-control" placeholder="Søg efter CVR-nr. eller virksomhedsnavn" />
						<button type="submit" class="btn btn-primary search">Søg</button>
					</div>
				</fieldset>
			</form>

			<div class="table-responsive">
				<table class="table" title="Tabel med virksomhedskladder">
					<thead>
						<tr>
							<td><a class="sort active">Virksomhed</a></td>
							<td><a class="sort">CVR</a></td>
							<td><a class="sort">Indsendt af</a></td>
							<td><a class="sort">Oprettet</a></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="" title="Vis og rediger">Ebbesen Print</a></td>
							<td>23759161</td>
							<td>Christian Langdahl</td>
							<td>10/08/2013</td>
						</tr>
						<tr>
							<td><a href="" title="Vis og rediger">Hjordt Auto A/S</a></td>
							<td>24374519</td>
							<td>Christian Langdahl</td>
							<td>12/11/2013</td>
						</tr>
						<tr>
							<td><a href="" title="Vis og rediger">Høst & Nielsen A/S</a></td>
							<td>58264917</td>
							<td>Lise Andersen</td>
							<td>03/04/2013</td>
						</tr>
						<tr>
							<td><a href="" title="Vis og rediger">Krogh & Søn Køleteknik</a></td>
							<td>16486294</td>
							<td>Christian Langdahl</td>
							<td>12/10/2013</td>
						</tr>
						<tr>
							<td><a href="" title="Vis og rediger">Københavns Rengøring</a></td>
							<td>27487351</td>
							<td>Christian Langdahl</td>
							<td>12/09/2013</td>
						</tr>
						<tr>
							<td><a href="" title="Vis og rediger">Schou VVS Aps</a></td>
							<td>98164763</td>
							<td>Lise Andersen</td>
							<td>21/10/2013</td>
						</tr>
						<tr>
							<td><a href="" title="Vis og rediger">West Shipping A/S</a></td>
							<td>52437925</td>
							<td>Lise Andersen</td>
							<td>29/02/2013</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--<button class="btn btn-primary pull-right">Vis alle</button>-->

			<div class="clearfix"></div>


		</div>

		<!-- Page content end -->
	</div>
	<!-- Main content end -->
</div>

{{> footer}} {{> doc-footer}}
