{{> doc-head}}
{{> header-simple-old-1}}

<a href="#contentstart" class="hide">Gå direkte til indhold</a>

<!-- Wrapper start -->
<div class="container">

	<!-- Mobile menu, Open step guide, start -->
	<div class="row">
		<div class="col-xs-12 constant-height">
			<button class="btn btn-steps visible-xs" type="button" data-toggle="collapse" data-target=".nav-collapse">Trin 1 af 3 <span class="caret"></span></button>
			{{> header/mobile-menu-old}}
		</div>
	</div>


	<!-- Main content wrapper (three-col) start -->
	<div class="content row">
		<div class="col-xs-12 main-content hidden-xs">
			<!-- Top menu -->
			<nav class="" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          	</button>
					</div>

				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- /Top menu -->
		</div>
		<div class="col-sm-3">
			<ul class="nav style-2 nav-collapse collapse">
				<li class="notice-error">
					<a href="eksempel03-1.html">1. Stamdata<span class="error">Du mangler at udfylde data</span></a>
				</li>
				<li class="notice-error">
					<a href="eksempel03-2.html">2. Startdato<span class="info">Udfyldt</span></a>
				</li>
				<li class="active">
					<a href="eksempel03-3.html">3. Opsummering og godkendelse</a>
				</li>
			</ul>
		</div>

		<!-- Main content start -->
		<div class="col-sm-9 main-content">
			<!-- Hidden link for accesibility -->
			<a id="contentstart" class="hide">Indhold start</a>
			<!-- Page content start -->
			<!--<h1 class="section">Virksomhedsoplysninger</h1>-->

			<div class="row">
				<div class="col-xs-12">

					<div class="alert alert-danger">
						<div class="header">Manglende oplysninger</div>
						Det er markeret nedenfor, hvor der mangler oplysninger
					</div>

					<h1>Opsummering og godkendelse</h1>
					<p>Nedenfor finder du dine indtastninger fra de foregående sider. Kig indtastningerne grundigt igennem, før du godkender din virksomhedsoprettelse.</p>


					<form method="get" action="none.html" role="form">
						<fieldset>
							<legend><span role="heading" aria-level="2">Stamdata</span></legend>
							<div class="form-group">
								<span class="label">Virksomhedens navn</span>
								<span class="form-control-static">Firma A/S</span>
							</div>

							<div class="form-group">
								<div class="has-error required-enabled">
									<label for="vej-gade">Gade/vej <span class="required">*</span></label>
									<input type="text" id="vej-gade" class="form-control" />
									<div class="help-block">Udfyld venligst feltet</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<span class="label">Husnummer</span>
										<span class="form-control-static">10</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<span class="label">Etage</span>
										<span class="form-control-static">3</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<span class="label">Side</span>
										<span class="form-control-static">th</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<span class="label">Postnummer</span>
										<span class="form-control-static">2880</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8">
									<div class="form-group">
										<span class="label">By</span>
										<span class="form-control-static">Bagsværd</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="label">c/o</span>
								<span class="form-control-static">&nbsp;</span>
							</div>
							<h2>Kontaktoplysninger</h2>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<span class="label">Telefon</span>
										<span class="form-control-static">44 98 55 55</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<span class="label">Mobilnummer</span>
										<span class="form-control-static">33 98 55 55</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<span class="label">E-mail</span>
										<span class="form-control-static">info@firma.dk</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="label">Hjemmeside</span>
								<span class="form-control-static">www.firma.dk</span>
							</div>
							<h2>Reklamebeskyttelse</h2>
							<div class="form-group">
								<span class="label">Jeg ønsker at reklamebeskytte min virksomhed</span>
								<span class="form-control-static">Nej tak</span>
							</div>
						</fieldset>
						<fieldset>
							<legend><span role="heading" aria-level="2">Startdato</span></legend>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<span class="form-control-static">14. januar 2014</span>
									</div>
								</div>
							</div>

						</fieldset>
					</form>

					<div class="buttons">
						<a href="eksempel03-2.html" class="btn btn-primary button-prev">Forrige</a>
						<a data-toggle="modal" href="#myModal" class="btn btn-primary pull-right">Indsend</a>
						<div class="clearfix"></div>
						<div class="button-text">
							<div class="left-btn">
								Klik Forrige for at gå tilbage
							</div>
							<div class="right-btn">
								Klik på Indsend for at indsende formular
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title"><span role="heading" aria-level="2">Vil du indsende de indtastede oplysninger?</span></h4>
						</div>
						<div class="modal-body">
							<p>

							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Annuller</button>
							<a type="button" class="btn btn-primary" href="eksempel03-4.html">Indsend</a>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<div class="clearfix"></div>

		</div>
		<!-- Page content end -->
	</div>
	<!-- Main content end -->


	<div class="clearfix"></div>

	<!-- Main content wrapper (three-col) end -->
</div>

{{> footer}}
{{> doc-footer}}
