{{> doc-head}} {{> header-simple-old-1}}

<a href="#contentstart" class="hide">Gå direkte til indhold</a>

<!-- Wrapper start -->
<div class="container">

	<!-- Mobile menu, Open step guide, start -->
	<div class="row">
		<div class="col-xs-12 constant-height">
			{{> header/mobile-menu-old}}
		</div>
	</div>

	<!-- Main content wrapper (three-col) start -->
	<div class="content row">
		<div class="col-xs-12 main-content hidden-xs">
			<!-- Top menu -->
			<nav class="" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
					</div>
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- /Top menu -->
		</div>

		<!-- Main content start -->
		<div class="col-sm-9 main-content">
			<!-- Hidden link for accesibility -->
			<a id="contentstart" class="hide">Indhold start</a>
			<!-- Page content start -->
			<div class="row">
				<div class="col-xs-12">

					<div class="alert alert-success">
						<div class="header">Kvittering</div>
						Din virksomhedsregistrering er modtaget
					</div>

					<h1>Kvittering</h1>
					<p>Nedenfor finder du dine indtastninger fra de foregående sider.</p>

					<p><a class="btn btn-primary hidden-print" href="javascript:window.print()">Udskriv kvittering</a></p>

					<table title="Indsæt beskrivelse her" class="table data">
						<thead>
							<tr>
								<th colspan="2"><span role="heading" aria-level="2">Stamdata</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Virksomhedens navn</td>
								<td>Firma A/S</td>
							</tr>
							<tr>
								<td>Gade/vej</td>
								<td>vej-gade</td>
							</tr>
							<tr>
								<td>Husnummer</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Etage</td>
								<td>3</td>
							</tr>
							<tr>
								<td>Side</td>
								<td>th</td>
							</tr>
							<tr>
								<td>Postnummer</td>
								<td>2880</td>
							</tr>
							<tr>
								<td>By</td>
								<td>Bagsværd</td>
							</tr>
							<tr>
								<td>c/o</td>
								<td></td>
							</tr>
							<tr>
								<td>Telefon</td>
								<td>44 98 55 55</td>
							</tr>
							<tr>
								<td>Mobilnummer</td>
								<td>33 98 55 55</td>
							</tr>
							<tr>
								<td>E-mail</td>
								<td>info@firma.dk</td>
							</tr>
							<tr>
								<td>Hjemmeside</td>
								<td>www.firma.dk</td>
							</tr>
						</tbody>
					</table>

					<table title="Indsæt beskrivelse her" class="table data">
						<thead>
							<tr>
								<th colspan="2"><span role="heading" aria-level="2">Reklamebeskyttelse</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Jeg ønsker at reklamebeskytte min virksomhed</td>
								<td>Nej tak</td>
							</tr>
						</tbody>
					</table>

					<table title="Indsæt beskrivelse her" class="table data">
						<thead>
							<tr>
								<th colspan="2"><span role="heading" aria-level="2">Startdato</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>14. januar 2014</td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<div class="buttons">

					</div>
				</div>
			</div>

			<div class="clearfix"></div>

		</div>
		<!-- Page content end -->
	</div>
	<!-- Main content end -->


	<div class="clearfix"></div>

	<!-- Main content wrapper (three-col) end -->
</div>

{{> footer}} {{> doc-footer}}
