{{> doc-head}}
{{> header-simple-old-1}}

<a href="#contentstart" class="hide">Gå direkte til indhold</a>

<!-- Wrapper start -->
<div class="container">

	<!-- Mobile menu, Open step guide, start -->
	<div class="row">
		<div class="col-xs-12 constant-height">
			<button class="btn btn-steps visible-xs" type="button" data-toggle="collapse" data-target=".nav-collapse">Trin 2 af 3 <span class="caret"></span></button>
			<div class="label label-draft recurring">Kladde gemt</div>
		</div>
	</div>

	<!-- Main content wrapper (three-col) start -->
	<div class="content row">
		<!-- Left navigation (style-1) start -->
		<!--<div class="col-sm-3">
                <ul class="nav style-1 hidden-xs">
                    <li class="open">
                        <a href="#" class="change">Ny virksomhed</a>
                    </li>
                    <li>
                        <a href="#" class="companies">Mine registreringer</a>
                    </li>
                    <li>
                        <a href="#" class="templates">Min konto</a>
                    </li>
                    <li>
                        <a href="#" class="payments">Hjælp</a>
                    </li>
                </ul>
            </div>-->
		<div class="col-sm-3">
			<ul class="nav style-2 nav-collapse collapse">
				<li class="notice">
					<a href="#">Betingelser for brug af denne indberetning<span class="info">Udfyldt</span></a>
				</li>
				<li class="notice">
					<a href="#">Ejeroplysninger<span class="info">Udfyldt</span></a>
				</li>
				<li class="active">
					<a href="side-1.html">Stamdata</a>
				</li>
				<li>
					<a href="side-4.html">Pligter</a>
				</li>
				<li>
					<a href="side-7.html">Startdato</a>
				</li>
				<li>
					<a href="#">Adresser</a>
				</li>
				<li>
					<a href="#">Opsummering og godkendelse</a>
				</li>
			</ul>
		</div>

		<!-- Main content start -->
		<div class="col-sm-9 main-content">
			<!-- Hidden link for accesibility -->
			<a id="contentstart" class="hide">Indhold start</a>

			<!-- Page content start -->
			<h1 class="section">Virksomhedsoplysninger</h1>
			<p><strong>Du skal være opmærksom på, at nedenstående</strong></p>
			<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

			<div class="clearfix"></div>

		</div>
		<!-- Page content end -->
	</div>
	<!-- Main content end -->


	<div class="clear"></div>

	<!-- Main content wrapper (three-col) end -->
</div>

{{> footer}}
{{> doc-footer}}
