{{> doc-head}}

{{> header-simple}}

	<!-- Wrapper start -->
  <div class="container">
  	<!-- Main content wrapper start -->
    <div class="content row">
      <!-- Main content start -->
      <div class="col-sm-9 main-content">

      	<!-- Hidden link for accesibility -->
        <a id="contentstart" class="hide">Indhold start</a>

        <!-- Page content start -->

				<h1>Designmanual</h1>

        <p class="lead">Denne side er en samling af eksempler på elementer fra designmanualen. HTML og CSS findes i den downloadede pakke.</p>
				{{> typography}}
				{{> notifications}}
				{{> step-indication}}
				{{> tables}}
				{{> input-fields}}
				{{> buttons}}
				{{> icons}}
				{{> modals/modal}}
				{{> accordion}}

				{{> tabs}}

				<p>
          Eksemplarisk løsning<br/>
          <a href="eksempel02.html">Eksemplarisk løsning side 1</a><br />
          <a href="eksempel03-1.html">Eksemplarisk løsning side 2</a><br />
					<a href="eksempel-indberetning-simpel.html">Indberetning (Simpel)</a><br />
					<a href="eksempel-indberetning-kompleks.html">Indberetning (Kompleks)</a><br />
					<a href="eksempel-redigering-med-subflows.html">Redigering med subflows</a><br />
					<!--<a href="eksempel-soegning-med-filtrering.html">Søgning med filtrering</a><br />-->
        </p>

				<!-- Page content end -->
      </div>
      <!-- Main content end -->
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- Main content end -->

  <div class="clearfix"></div>
  <!-- Main content wrapper end -->
	{{> footers/footer-myndigheder}}

	{{> doc-footer}}
