
	<div class="footer visible-xs"><!-- mobile menu -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 inner-details">
					<a href="#" class="solution-author-link">Erhvervsstyrelsen <span>&#8250;</span></a>
				</div>
				<div class="col-xs-12 logo-container">
					<a href="">
						<img src="../graphics/logo-virk.svg" height="57" width="240" alt="Virk / Indberetning" class="logo" />
					</a>
				</div>
			</div>

			<div class="row last-row">
				<div class="col-xs-8 nav-tools">
					<p>Christian Emil Vestergaard Christiansen, Københavns Urmager Værksted v/Martin Elsig Laursen</p>
				</div>
				<div class="col-xs-4 align-right nav-tools">
					<a href="">Log ud &#8250;</a>
				</div>
			</div>
		</div>
	</div>
