<div class="footer myndigheder">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 inner-details visible-xs">
				<a href="#" class="solution-author-link">Navn på myndighed<span>&#8250;</span></a>
				<p class="solution-author-support">Support: 11 22 33 44 | <a href="#">E-mail <span>&#8250;</span></a></p>
			</div>
			<div class="col-xs-12 inner-details">
				<ul>
					<li><p><a href="#" class="">Myndighedslink 1</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 2</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 3</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 4</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 5</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 6</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 7</a></p></li>
					<li><p><a href="#" class="">Myndighedslink 8</a></p></li>
				</ul>
				<p>Myndighedsnavn myndighedsnavn myndighedsnavn myndighedsnavn 2017</p>
			</div>
		</div>
		<div class="row visible-xs">
			<div class="col-sm-8 col-xs-12 logofooter">
				<a href="">
					<img src="../graphics/logo-virk.svg" height="57" width="240" alt="Virk / Indberetning - logo" class="logo">
				</a>
			</div>
		</div>
	</div>

</div>
